<%= content_for :header do %>
	Murder Mystery
<% end %>

<h1>Create a new charater</h1>
<%= form_for @user do |f| %>
	<%= f.label :charname, 'Character Name' %>
	<%= f.text_field :charname %>
	<br/>
	<%= f.submit 'Start Game' %>
<% end %>
<!--automatic na punta sa fields of model-->

<%= content_for :footer do %>
	Java nice day
<% end %>
