<div class="container">
	<div class="row">
			<img src="background.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		You decided to investigate the lifeless corpse of Charles, as you look around his body. You noticed something sticking out his pockets. You picked up the object which was a photo. In that photo, you see the family of charles. Scott who was next to Charles was posing almost the same as Charles. Warren looked like he was dramatically looking away from the camera. Jane was innocently smiling. Hank looked stern and Scott was grinning. Your final thoughts that it wasn't a typical family and you had to investigate each and every member.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page002"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page003"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page004"  %></button>
		</div>	
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page005"  %></button>
		</div>		
	</div>
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page006"  %></button>
		</div>
	</div>
</div>