<div class="container">
	<div class="row">
			<img src="family.jpg"/>
		</div>
	</div/>
	
	<div class="row">
		<br/><br/>
		The lights suddenly go out and there is a commotion among the guests. After a short while, one of Charles' staff was able to get the lights back on. Seconds after the lights turn back on, you hear a loud scream. You turn towards the sound and you see Charles' lifeless body on the ground.
		<br/><br/>
		You: No one move! I'm a detective!
		<br/><br/>
		You immediately look around him to take note of who are near him. These people will become your prime suspects. As you look around, you realize that the only people near him are his children.
		<br/><br/>
	</div>
	
	<div class="row">
		<div class="well">
			<img src="scott.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Scott", "/page002"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="warren.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Warren", "/page003"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="jane.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Jane", "/page004"  %></button>
		</div>	
	</div>
	<div class="row">
		<div class="well">
			<img src="hank.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Hank", "/page005"  %></button>
		</div>		
	</div>
	<div class="row">
		<div class="well">
			<img src="robert.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Talk to Robert", "/page006"  %></button>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<img src="charles.jpg" height="15%" width="15%"/>
			<button type="button" class="btn btn-link"><%= link_to "Examine the body", "/page007"  %></button>
		</div>		
	</div>
</div>